<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>490641844703-s0rva94lhflcijgat0kth3rq21d8jml0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.490641844703-s0rva94lhflcijgat0kth3rq21d8jml0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>490641844703-h5sf7mpk1m3fu8c067mak9stsfk6jtfl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB_C-vVNUiCKgcNjV4tMUQkuEJOSD9e9gk</string>
	<key>GCM_SENDER_ID</key>
	<string>490641844703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.testpushnotify</string>
	<key>PROJECT_ID</key>
	<string>testpushnoti-676d4</string>
	<key>STORAGE_BUCKET</key>
	<string>testpushnoti-676d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490641844703:ios:7533890a748dc961bafc6a</string>
	<key>DATABASE_URL</key>
	<string>https://testpushnoti-676d4.firebaseio.com</string>
</dict>
</plist>